<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="craigsApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="StoreController">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="container">
    <header-row></header-row>
    <div class="row list-row">
      <div class="col-md-2 thumbnail">
        <h3 class="centered-text">HRC</h3>
      </div>
      <!--  
      <a href="#" class="col-md-2 thumbnail panel panel-default" ng-repeat="product in store.products | orderByPriority | filter: { name: 'hrc-sba' }">
      -->
      <a href="#" class="col-md-2 thumbnail panel panel-default" ng-click="updateList('hrcsba')">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="category in products | orderByPriority | filter: {category: 'hrcsba'} | limitTo: -3 | orderBy: reverse">{{category.date}}</li>
        </ul>
      </a>
      <a href="#" class="col-md-2 thumbnail panel panel-default" ng-click="updateList('hrcres')">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="category in products | orderByPriority | filter: {category: 'hrcres'}">{{category.date}}</li>
        </ul>
      </a>
      <a href="#" class="col-md-2 thumbnail panel panel-default" ng-click="updateList('hrcst')">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="category in products | orderByPriority | filter: {category: 'hrcst'} | limitTo: 3">{{category.date}}</li>
        </ul>
      </a>
 
      <!--
      <div class="col-md-2 thumbnail">
        <h3 class="centered-text">THT</h3>
      </div>
      <a href="#" class="col-md-2 thumbnail panel panel-default" ng-repeat="product in store.products | limitTo:10 | limitTo:-5">
        <ul class="list-group" ng-repeat="listitem in product.dates">
          <li class="list-group-item">{{listitem}}</li>
        </ul>
      </a>
      <div class="col-md-2 thumbnail">
        <h3 class="centered-text">Shower</h3>
      </div>
      <a href="#" class="col-md-2 thumbnail panel panel-default" ng-repeat="product in store.products | limitTo:15 | limitTo:-5">
        <ul class="list-group" ng-repeat="listitem in product.dates">
          <li class="list-group-item">{{listitem}}</li>
        </ul>
      </a>
      <div class="col-md-2 thumbnail">
        <h3 class="centered-text">ProfPaint</h3>
      </div>
      <a href="#" class="col-md-2 thumbnail panel panel-default" ng-repeat="product in store.products | limitTo:20 | limitTo:-5">
        <ul class="list-group" ng-repeat="listitem in product.dates">
          <li class="list-group-item">{{listitem}}</li>
        </ul>
      </a>
      <div class="col-md-2 thumbnail">
        <h3 class="centered-text">Handy</h3>
      </div>
      <a href="#" class="col-md-2 thumbnail panel panel-default" ng-repeat="product in store.products | limitTo:25 | limitTo:-5">
        <ul class="list-group" ng-repeat="listitem in product.dates">
          <li class="list-group-item">{{listitem}}</li>
        </ul>
      </a>
    </div>
    -->
  </div> <!-- /.container -->
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>  
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
 
  <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/directives.js"></script>  
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <!-- Not in use
  <script src="js/filters.js"></script>
-->
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/holderjs/holder.js"></script>
	
</body>
</html>
